h1 {
  text-align: center;
  font-size: 279%;
  margin-bottom: .3em;
}

div {
    line-height:60px;
    height:60px;
    vertical-align:middle;
	background-color:black;
	color:white;
	font-size: 145%;
}

body {
  background-image: url("extras/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

img {
	float:right;
	width:240px;
	height:240px;
}

table, th, td {
  border: 2px solid white;
  padding: 10px;
  border-spacing: 15px;
  color:white;
  width:95%;
  font-size: 105%;
  margin-left:1%; 
  margin-right:20%;
}